{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "latest.json",
            "label": "Updater manifest file"
          }
        ],
        "successComment": ":tada: This ${issue.pull_request ? 'PR is included' : 'issue has been resolved'} in version ${nextRelease.version} :tada:\n\nThe release is available on [GitHub release](https://github.com/${process.env.GITHUB_REPOSITORY}/releases/tag/${nextRelease.gitTag})"
      }
    ]
  ],
  "releaseRules": [
    {
      "type": "feat",
      "release": "minor"
    },
    {
      "type": "fix",
      "release": "patch"
    },
    {
      "type": "docs",
      "release": "patch"
    },
    {
      "type": "style",
      "release": "patch"
    },
    {
      "type": "refactor",
      "release": "patch"
    },
    {
      "type": "perf",
      "release": "patch"
    },
    {
      "type": "test",
      "release": "patch"
    },
    {
      "type": "build",
      "release": "patch"
    },
    {
      "type": "ci",
      "release": "patch"
    },
    {
      "type": "chore",
      "release": "patch"
    }
  ]
}
